@import "../mypageShared.css";

.mypage-section {
  max-width: 1024px;
}

.mypage-section__header {
  margin-bottom: 32px;
}

.mypage-section__title {
  margin: 0 0 8px;
  color: #222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.mypage-section__desc {
  margin: 0;
  color: #505050;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

@media screen and (max-width: 767px) {
  .mypage-section__header {
    margin-bottom: 24px;
  }

  .mypage-section__title {
    font-size: 20px;
    line-height: 1.5;
  }

  .mypage-section__desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .mypage-section__title {
    font-size: 20px;
  }
}
