@import "../Courses/style.css";

.mypage-section--certificates {
  max-width: 1024px;
}

.mypage-section__header--certificates {
  padding-bottom: 24px;
  margin-bottom: 0;
  border-bottom: 1px solid #d4d4d8;
}
